.nav-logo img {
	position: relative;
	margin-left: 10rem;
	right: -70px;
	width: 40px;
	height: 40px;
}

@media (max-width: 1290px) {
	.nav-logo {
        position: relative;
        left: -150px;
		margin-left: 0;
	}
}
